#container {
    width: 600px;
    margin: auto;
}

.productimg {
    width: 600px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading,
h1 {
    font-size: 1.3em;
}

.fillout {
    margin: 30px auto;
}

.form-control {
    font-size: smaller;
}

span {
    font-size: smaller;
}

.btn {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom:30px;
}

#inputnum {
    width: 100px;
}

/* 뒤에 두 부분 추가하여 폰트사이즈 입히기 */
li {
    font-size: 12px;
}

li > span {
    font-size: 12px;
}